<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>通义千问批量提问</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <!-- 问题区 -->
      <div class="question-area">
        <!-- 自动识别 -->
        <textarea
          id="auto-question"
          v-model="Question"
          placeholder="请输入问题，多个问题使用&分割"
        ></textarea>
      </div>
      <!-- 执行日志 -->
      <div class="log-area">
        <p
          class="log"
          v-for="(item,index) in Log"
          :key="index"
          :class="{error:item.type=='error',log:item.type=='log',response:item.type=='response'}"
        >
          <span class="log_time">{{item.time}}</span> {{item.msg}}
        </p>
      </div>
      <!-- 开始按钮 -->
      <button @click="begin" class="button">
        Start
        <div id="clip">
          <div id="leftTop" class="corner"></div>
          <div id="rightBottom" class="corner"></div>
          <div id="rightTop" class="corner"></div>
          <div id="leftBottom" class="corner"></div>
        </div>
        <span id="rightArrow" class="arrow"></span>
        <span id="leftArrow" class="arrow"></span>
      </button>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          Question: "",
          Questions: [],
          QuestionsIndex: 0,
          ws: null,
          Log: [],
          responseList: [],
          tasking: false,
          qwUrl:
            "https://tongyi.aliyun.com/qianwen/?spm=5176.28326591.0.0.40f73da2jtNcHM&sessionId=06069029dfef443d8ccff12bcea6b3f0",
        };
      },
      created() {
        const that = this;
        // 获取视口宽度
        that.width =
          window.innerWidth ||
          document.documentElement.clientWidth ||
          document.body.clientWidth;
        // 获取视口高度
        that.height =
          window.innerHeight ||
          document.documentElement.clientHeight ||
          document.body.clientHeight;

        that.initWebSocket();
      },
      watch: {
        Question(val) {
          if (val) {
            this.Questions = val.split("&");
            this.QuestionsIndex = 0;
          }
        },
      },
      methods: {
        // WS服务
        initWebSocket() {
          const that = this;
          const ws = new WebSocket("ws://localhost:3001");
          that.ws = ws;
          //接受数据
          ws.onmessage = function (msg) {
            res = JSON.parse(msg.data);
            if (res.status) {
              that.Log.push(res);
              that.QuestionsIndex++;
              if (that.QuestionsIndex < that.Questions.length) {
                // 请求下一个问题
                that.begin();
              } else {
                //任务完成
                that.tasking = false;
              }
            } else {
              // 显示日志时间 格式 hh:mm:ss:ms
              const date = new Date();
              const time = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}:${date.getMilliseconds()}`;
              res.time = time;
              that.Log.push(res);
            }
          };
          ws.onopen = function () {
            that.Log.push({
              msg: "服务启动成功,准备连接WS服务器...",
              type: "log",
            });
          };

          ws.onclose = function () {
            //在ws关闭时，尝试进行重连
            that.Log.push({
              msg: "WebSocket连接关闭，正在尝试重新连接...如未启动服务请先使用nodemon app指令启动服务",
              type: "error",
            });
            setTimeout(function () {
              that.initWebSocket();
            }, 1000); //1秒后重新连接，实现重连机制
          };
        },
        // 启动自动化
        begin() {
          if (this.tasking) return;
          if (!this.Questions.length) return;
          this.tasking = true;
          const data = {
            width: this.width,
            height: this.height,
            Questions: this.Questions,
            QuestionsIndex: this.QuestionsIndex,
          };
          //发送数据
          this.ws.send(JSON.stringify(data));
        },
      },
    }).mount("#app");
  </script>
</html>
